<!DOCTYPE html>
<html lang="{{ cosmo.language }}">
<head>
    <base href="{{ cosmo.mainConfig.basePath }}">
    <link href="favicon.ico" rel="shortcut icon">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=ABeeZee|Source+Code+Pro:200,400' rel='stylesheet'
          type='text/css'>
    <link href="{{ cosmo.themeFolder }}/css/main.css" type="text/css" rel="stylesheet" media="screen">
    <title>{{ config.title }}</title>
</head>
<body>
<div class="header">
    <div class="wrap">
        <span class="logo">{{ cosmo.mainConfig.title }}</span>
        {% if cosmo.mainConfig.version %}<span class="version">v {{ cosmo.mainConfig.version }}</span>{% endif %}

        {{ cosmo.renderLanguageWidget()|raw }}
    </div>
</div>

<div class="body">
    <div class="navigation">
        {% set pages = cosmo.getPages() %}
        {% if pages|length %}
            <div class="navigationBlock">
                <ul>
                    {% for page in pages %}
                        <li{% if cosmo.requestURL == page.url %} class="active"{% endif %}><a
                                    href="{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% set pages = cosmo.getArticles() %}
        {% if pages|length %}
            <div class="navigationBlock">
                <h3>{{ lang.navigationHeadlineArticles }}</h3>
                <ul>
                    {% for page in pages %}
                        <li{% if cosmo.requestURL == page.url %} class="active"{% endif %}><a
                                    href="{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% set pages = cosmo.getReferences() %}
        {% if pages|length %}
            <div class="navigationBlock">
                <h3>{{ lang.navigationHeadlineReferences }}</h3>
                <ul>
                    {% for page in pages %}
                        <li{% if cosmo.requestURL == page.url %} class="active"{% endif %}><a
                                    href="{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    <div class="content">
        {{ cosmo.content|raw }}
    </div>
</div>

<div class="footer">
    <div class="wrap">
        Made with cosmo
    </div>
</div>
</body>
</html>